@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
#number {
  font-size: 72px;
  font-family: "Lato", sans-serif;
}
.incorrect {
  color: red;
}
.correct {
  color: rgb(36, 170, 36);
}
#winner {
 font-family: "Lato", sans-serif;
  font-size: 50px;
  font-style: normal;
  color: blue;
}
