@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');


body {
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
}
.h1 {
    font-family: "Google Sans", sans-serif;
}
.hi {
    font-family: "Google Sans", sans-serif;
}
.bbb {
font-family: "Google Sans", sans-serif;
}
.inpur {
    border-radius: 30px;
    border: none;
background-color: aquamarine;
padding: 10px 20px 10px;
transition: all 0.3s ease;
}
.butto {
    position: relative;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px 10px 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 10px;
    box-shadow: 0 10px 20px black;
    font-family: "Google Sans", sans-serif;
}
.butto:active {
    transform: translateY(5px);
    background-color: black;
    color: white;
}
.inpur:hover {
 transform: scale(1.03);
 background-color: rgb(255, 255, 255);
 border: 2px solid aliceblue;
}
.bum {
    color: white;
    background-color: red;
    border-radius: 30px;
    box-shadow: 0 10px 20px black;
    border: 2px solid white;
    transition: all 0.3s ease;
    font-family: "Google Sans", sans-serif;
}
.bum:active {
    transform: translateY(5px);
    background-color: black;

}