@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: green;
}
h1 {
  font-family: "Google Sans", sans-serif;
}
.input1 {
  border: none;
   border-radius: 20px;
   background-color: rgb(76, 82, 73);
   padding: 5px 10px;
   transition: all 0.3s ease;
   outline: none;
margin: 10px;
width: 200px;
height: 30px;
box-shadow: 0 5px 10px black;
flex-grow: 1;
box-sizing: border-box;
}
.input2 {
  border: none;
   border-radius: 20px;
   background-color: rgb(68, 210, 11);
   padding: 5px 10px;
   transition: all 0.3s ease;
   outline: none;
margin: 10px;
width: 200px;
height: 30px;
box-shadow: 0 5px 10px black;
flex-grow: 1;
box-sizing: border-box;
}
.select1 {
   padding: 8px 14px;
    border-radius: 50px;
    border: 2px solid rgb(248, 251, 248);
    background-color: aliceblue;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px black;
    color: rgb(3, 0, 0);
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.select2 {
   padding: 8px 14px;
    border-radius: 50px;
    border: 2px solid rgb(236, 244, 237);
    background-color: aliceblue;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px black;
    color: rgb(3, 0, 0);
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.select1:hover {
   transform: scale(1.03);
   background-color: black;
   color: aliceblue;
}
.select2:hover {
   transform: scale(1.03);
   background-color: black;
   color: aliceblue;
}